    
    <div fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="20px" style="padding: 1em;">
        <mat-card >
            <mat-card-content>
                En este mapa puedes ver distintos poligonos, son salas de chat de vecinos confinados en esa zona.Haz click en una para entrar a chatear con esos confinados
                <br>
                Puedes crear tu region dibujandola en el mapa y se creara una sala nueva para chatear
            </mat-card-content>
        </mat-card>

        <div style="height: 800px;"
            leaflet
            leafletDraw
            [leafletOptions]="options"
            [leafletDrawOptions]="drawOptions"
            [leafletLayers]="zonas">
        </div>
    </div>


