<div fxHide fxShow.lt-md>
    <mat-card class="mat-elevation-z8">
        <h2 class="mat-headline"> Motivacion</h2>
        <p class="body">
            Llevamos ya unos dias confinados, a veces nos podemos sentir demasiado aislados, aunque a escasos metros estan tus vecinos en la misma situacion.
            Esta aplicacion sirve para crear un chat a partir de un area pequeña donde tu te encuentras para hablar con tus vecinos próximos.
            Esos vecinos que miras cuando aplaudes, pueden necesitar de ti o tu de ellos para cualquier cosa , aunque sea solo para divertirse. En este chat os podeis encontrar.
        </p>
    </mat-card>
</div>


<div fxShow fxHide.lt-md>

    <mat-toolbar color="primary">
        <span fxFlex>Habla con tus vecinos confinados</span>
        <button mat-icon-button aria-label="Ayuda" routerLink="/ayuda">
            <mat-icon>help</mat-icon>
        </button>
    </mat-toolbar>

    <div fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="20px" style="padding: 1em;">
        <mat-card >
            <mat-card-content>
                Crea o selecciona un area donde quieras chatear, mas informacion <a  routerLink="/ayuda">aqui</a>
            </mat-card-content>
        </mat-card>
        
        <div style="height: 80vh"
            leaflet
            leafletDraw
            [leafletOptions]="options"
            [leafletDrawOptions]="drawOptions"
            [leafletLayers]="zonas"
            [(leafletZoom)]="zoom"
            [(leafletCenter)]="center"
            (leafletDrawCreated)="enviarZona($event)">
        </div>
        
    </div>

</div>



